<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chatbot con Mistral AI</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 20px; }
        .chat-container { display: flex; flex-direction: column; margin-bottom: 20px; }
        .user-message, .bot-response { margin: 5px 0; }
        .user-message { align-self: flex-end; }
        .bot-response { align-self: flex-start; }
        input[type="text"], select { width: 300px; padding: 10px; margin-right: 10px; }
        input[type="submit"] { padding: 10px 20px; }
    </style>
</head>
<body>
    <h2>Chat con Mistral AI</h2>
    <select id="transcription-select">
        {% for transcription_file in transcription_files %}
            <option value="{{ transcription_file }}">{{ transcription_file }}</option>
        {% endfor %}
    </select>
    <div id="chat-container" class="chat-container"></div>
    <input type="text" id="user-input" placeholder="Escribe tu pregunta aquí...">
    <input type="submit" value="Enviar" onclick="sendMessage()">

    <script>
        function sendMessage() {
            var userInput = document.getElementById('user-input').value;
            var transcriptionSelected = document.getElementById('transcription-select').value; // Obtiene la transcripción seleccionada
            var chatContainer = document.getElementById('chat-container');
            var userMessageDiv = document.createElement('div');
            userMessageDiv.textContent = "Tú: " + userInput;
            userMessageDiv.className = 'user-message';
            chatContainer.appendChild(userMessageDiv);

            fetch('/chat', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    message: userInput,
                    transcription_filename: transcriptionSelected // Envía la transcripción seleccionada con la pregunta
                }),
            })
            .then(response => response.json())
            .then(data => {
                var botResponseDiv = document.createElement('div');
                botResponseDiv.textContent = "Chatbot: " + data.response;
                botResponseDiv.className = 'bot-response';
                chatContainer.appendChild(botResponseDiv);
            })
            .catch((error) => {
                console.error('Error:', error);
            });

            document.getElementById('user-input').value = ''; // Limpia el campo de entrada después de enviar
        }
    </script>
</body>
</html>

